{% extends 'base.html' %}
{% load static %}
{% block title %}
Task List
{% endblock title %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if tasks|length == 0 %}
            <p>You have no tasks</p>
            {% else %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                {% endfor %}
                </tr>
                {% endif %}
            </table>
        </div>
    </main>
{% endblock content %}
