{% extends 'base.html' %}
{% load static %}
{% block title %}
My Tasks
{% endblock title %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ details.name }}</h1>
            <p>{{ details.description }}</p>
            <h2>Tasks</h2>
            {% if details.tasks.all|length == 0 %}
            <p>This project has no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% endif %}
                <tr>
                {% for project in details.tasks.all %}
                    <td>{{ project.name }}</td>
                    <td>{{ project.assignee }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.due_date }}</td>
                    <td>{{ project.is_completed|yesno}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </main>
{% endblock content %}
