{% extends 'base.html' %}
{% load static %}
{% block title %}
Projects
{% endblock title %}


{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.tasks.all|length }}</a>
                    </td>
                    {% endfor %}
                </tr>
                {% endif %}
            </table>
        </div>
    </main>
{% endblock content %}
